/* --- GENEL AYARLAR --- */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
}

/* Slider Resim Ayarı */
.carousel-item img {
    height: 400px; 
    object-fit: cover;
    filter: brightness(60%);
}

/* Footer Linkleri Efekti (İkonlar büyüsün) */
footer i:hover {
    color: #0d6efd; 
    transform: scale(1.2); /* İkon hafif büyüsün */
    transition: 0.3s;
}


/* --- MOBİL UYUMLULUK (Telefonlar İçin) --- */
@media (max-width: 768px) {
    
    /* Footer ikonlarını mobilde biraz daha büyük yapalım */
    footer i {
        font-size: 24px; 
        margin: 0 5px;
    }
}